@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../../themes.googleusercontent.com/static/fonts/roboto/v3/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(../../themes.googleusercontent.com/static/fonts/roboto/v3/OLffGBTaF0XFOW1gnuHF0Z0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../../themes.googleusercontent.com/static/fonts/roboto/v3/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../../themes.googleusercontent.com/static/fonts/roboto/v3/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../../themes.googleusercontent.com/static/fonts/roboto/v3/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 00:28:12 Jun 28, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:44:47 Sep 06, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.322
  captures_list: 0.442
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.052
  esindex: 0.008
  cdx.remote: 14.615
  LoadShardBlock: 92.99 (3)
  PetaboxLoader3.datanode: 50.324 (4)
  PetaboxLoader3.resolve: 119.853 (2)
  load_resource: 104.565
*/